Source: paintatron
Section: contrib/utils
Priority: extra
Maintainer: Bob Mottram <bob@robotics.uk.to>
Build-Depends: debhelper (>= 8.0.0), libqt4-dev (>= 4.8.0), qt4-qmake (>= 4.8.0), libgpr0 (>= 1.0.3), libgpr0-dev (>= 1.0.3)
Standards-Version: 3.9.2
Homepage: https://github.com/fuzzgun/paintatron
Vcs-Browser: https://github.com/fuzzgun/paintatron
Vcs-Git: https://github.com/fuzzgun/paintatron.git

Package: paintatron
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gnuplot, libqtcore4 (>= 4.8.0), libqtgui4 (>= 4.8.0), libqt4-xml (>= 4.8.0), libqt4-script (>= 4.8.0), libgpr0 (>= 1.0.3)
Description: Generates artworks using genetic programming
 Paintatron can be used to generate artworks based upon a set of source
 images.  The user repeatedly selects the most aesthetic images from which
 the next generation of images are produced.
